strict_env

watch_file flake.nix flake.lock Cargo.toml Cargo.lock
watch_dir nix/
watch_file .cargo/config.toml .cargo/config
for manifest in crates/*/Cargo.toml; do
  watch_file "$manifest"
done

nix_direnv_disallow_fallback
use flake . --no-update-lock-file || return 1
